/* Hide scrollbars but keep scrolling functionality */
body {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

.image-adjust{
    height: 265px;
    width: 376x;
}