html, body{
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.cart{
    height: 20px;
    width: 20px;
}

.image-adjust{
    height: 265px;
    width: 376x;
}

.nav-item:hover{
    background-color: rgb(232, 232, 242);
    text-shadow: black;
    border-radius: 10px;
    font-weight: bolder;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card-body.d-flex {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align the content */
    }

    .card-body img {
        width: 100%; /* Make the image take full width */
        height: auto; /* Adjust height automatically */
        margin-bottom: 15px; /* Add space below the image */
    }

    .card-title {
        text-align: center; /* Center title for better visual balance */
        margin-bottom: 10px; /* Add space below the title */
    }

    .card-text {
        text-align: center; /* Center price text */
    }
}

@media (min-width: 769px) {
    .card-text {
        margin-left: auto;  /* Moves price text to the right */
    }
}